<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About me</th>
      <th>Image url</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.about_me %></td>
        <td><img src="<%= user.image_url %>"width="50"></td>
        <td><%= user.city %></td>

        <td><%= link_to 'Show', user_path(user) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
