<section class="main">
  <div class="left">
  <h1> PROFILE </h1>
   <p id="notice"><%= notice %></p>

  <div class="profile_info">
    <p>
      <img src="<%= @user.image_url %>">
    </p>
  </div>
  </div>
  <div class="right">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>About me:</strong>
      <%= @user.about_me %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @user.city %>
    <p>
      <strong>State:</strong>
      <%= @user.state %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @user.country %>
    </p>
  </div>
  <%= link_to("Meet Other Adventurers", users_path) %><br/>

  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <%= link_to 'Delete Profile', user_path(session[:user_id]), method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' } %>

</section>
<section class="main">
    <h1>Sagas</h1>
    <%= link_to("Create New Saga", new_saga_path) %>
    <%= link_to("Get Some Ideas", chapters_path) %><br/>

    <% @sagas.each do |saga| %> </br>
    <%= link_to(saga.title, saga_path(saga.id)) %>
    <% @chapters.each do |chapter| %>
        <% if chapter.saga_id == saga.id %>
        <ul>
        <li><img class="chapter"src="<%= chapter.image_url %>"><%= link_to(chapter.title, chapter_path(chapter.id)) %></li>
        </ul>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Destroy', user_path(session[:user_id]), method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' } %>
  <h1 style="color: red"><%= notice %></h1>
    <%= link_to 'Logout', session_path, method: :delete %>
</section>
