<h1 style="color: red"><%= notice %></h1>
<section class="main">
  <div class="left">

  <div class="profile_info">
    <p>
      <img src="<%= @user.image_url %>" width="100px">
    </p>
  </div>
  </div>
  <div class="right">
     <p><%= link_to("Meet Other Adventurers", users_path) %></p>
  <% if @user.id == session[:user_id] %>
  <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
  <p><%= link_to 'Delete Profile', user_path(session[:user_id]), method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' } %></p>
  <% end %>
  <br/>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>About me:</strong>
      <%= @user.about_me %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>
    <p>
      <strong>State:</strong>
      <%= @user.state %>
    </p>
    <p>
      <strong>Country:</strong>
      <%= @user.country %>
    </p>

  </div>

</section>
<section class="main">
    <h1>Sagas</h1>
    <% if @user.id == session[:user_id] %>
    <%= link_to "Create New Saga", new_saga_path, class: "saga_build" %> |
    <%= link_to "Get Some Ideas", chapters_path, class: "saga_build" %><br/>
    <% end %>
    <% @sagas.each do |saga| %> </br>
    <%= link_to(saga.title, saga_path(saga.id)) %>
    <% @chapters.each do |chapter| %>

        <% if chapter.saga_id == saga.id %>
        <ul>
        <li><img class="chapter" src="<%= chapter.image_url %>"><%= link_to(chapter.title, chapter_path(chapter.id)) %></li>
        </ul>
        <% end %>

      <% end %>
    <% end %>
</section>

