<h1 style="color: red"><%= notice %></h1>


<p><%= link_to("Get Some Ideas", chapters_path) %></p><br/>
<p><%= link_to("Meet Other Adventurers", users_path) %></p><br/>

<div class="profile_info">
  <p>
    <img src="<%= @user.image_url %>" width="200px">
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= @user.about_me %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @user.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @user.country %>
  </p>
  <% if @user.id == session[:user_id] %>
<%= link_to 'Edit Profile', edit_user_path(@user) %>
<%= link_to 'Delete Profile', user_path(session[:user_id]), method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' } %>
<% end %>
</div>

<div class="sagas">

  <h1>Sagas</h1>
  <% if @user.id == session[:user_id] %>
  <%= link_to("Create New Saga", new_saga_path) %>
  <% end %>
  <h1> <% @sagas.each do |saga| %> </h1> </br>
    <h2><%= link_to(saga.title, saga_path(saga.id)) %></h2><%= link_to 'Add a Chapter', new_saga_chapter_path(saga.id) %>
    <% @chapters.each do |chapter| %>
      <% if chapter.saga_id == saga.id %>
      <ul>
      <li><%= link_to(chapter.title, chapter_path(chapter.id)) %>
         <img src="<%= chapter.image_url %>" width="50px">
      </li>

      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>



