<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @chapter.image_url %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @chapter.scope %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @chapter.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @chapter.category %>
</p>



<%= link_to 'Leave a comment', new_comment_path %> |

<%= link_to 'Delete Chapter', chapter_path(@chapter.id), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Leave a comment', new_chapter_comment_path(@chapter.id) %>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
