
<section class="main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @chapter.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @chapter.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <img src="<%= @chapter.image_url %>" width="400">
  </p>

  <p>
    <strong>Scope:</strong>
    <%= @chapter.scope %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @chapter.tags %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @chapter.category %>
  </p>

<div class="comments">
  <label for="chapter-comments"> User Comments</label></br>
      <% @comments.each do |comment| %>
          <div class="comment-image-box">
            <img src="<%= @user.image_url %>" class="comment-image">
          </div>
          <p class="comment-body">
            <%= comment.body %> </br>
            <%= comment.created_at.localtime.strftime("Posted on %m/%d/%Y at %I:%M%p") %>
          </p>
          <div class="clearfix"></div>
      <% end %>
</div>

  <%= link_to 'Add a Comment', new_chapter_comment_path(@chapter.id) %> |
  <% if @current_user == session[:user_id] %>
  <%= link_to 'Delete Chapter', chapter_path(@chapter.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_saga_chapter_path(@chapter.saga_id, @chapter) %> |
  <% end %>
  <%= link_to 'Back', user_path(session[:user_id]) %>
</section>
